    <div class="details">
  {{#with theMovie}}
    <img src="{{ image }}" alt="">
    <div class="details-list">
    <p class="title">{{ title }}</p>
    <p>{{ director }}</p>
    <ul>
      {{#each stars}}
        <li>{{ this }}</li>
      {{/each}}
    </ul>

    <p>{{ description }}</p>

    <p>
      {{#each showtimes}}
        {{#if @last}} 
          {{ this }} 
        {{else}} 
          {{ this }} | 
        {{/if}}
      {{/each}}
    </p>
    </div>
{{/with}}
</div>